/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #0A0240; }
.Graphic-Design-2-hex { color: #012340; }
.Graphic-Design-3-hex { color: #0F3240; }
.Graphic-Design-4-hex { color: #F2B8A2; }
.Graphic-Design-5-hex { color: #BF6550; }

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba { color: rgba(10, 1, 63, 1); }
.Graphic-Design-2-rgba { color: rgba(1, 34, 63, 1); }
.Graphic-Design-3-rgba { color: rgba(14, 49, 63, 1); }
.Graphic-Design-4-rgba { color: rgba(242, 183, 162, 1); }
.Graphic-Design-5-rgba { color: rgba(191, 100, 80, 1); }

/* Color Theme Swatches in HSLA */
.Graphic-Design-1-hsla { color: hsla(247, 94, 12, 1); }
.Graphic-Design-2-hsla { color: hsla(208, 96, 12, 1); }
.Graphic-Design-3-hsla { color: hsla(196, 62, 15, 1); }
.Graphic-Design-4-hsla { color: hsla(16, 75, 79, 1); }
.Graphic-Design-5-hsla { color: hsla(11, 46, 53, 1); }




/* Color Theme Swatches in Hex */
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-1-hex { color: #011526; }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-2-hex { color: #023859; }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-3-hex { color: #1F82BF; }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-4-hex { color: #6FA0BF; }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-5-hex { color: #3A758C; }

/* Color Theme Swatches in RGBA */
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-1-rgba { color: rgba(0, 20, 38, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-2-rgba { color: rgba(1, 55, 89, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-3-rgba { color: rgba(30, 129, 191, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-4-rgba { color: rgba(110, 160, 191, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-5-rgba { color: rgba(57, 116, 140, 1); }

/* Color Theme Swatches in HSLA */
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-1-hsla { color: hsla(208, 96, 7, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-2-hsla { color: hsla(202, 96, 17, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-3-hsla { color: hsla(202, 72, 43, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-4-hsla { color: hsla(202, 38, 59, 1); }
.In-Technology-Research-Facility:-Chief-Engineer-Stands-in-the-Middle-of-Lab-and-Uses-Tablet-Computer.-Team-of-Industrial-Engineers,-Developers-Work-on-Engine-Design-Use-Digital-Whiteboard-and-Computer-5-hsla { color: hsla(196, 41, 38, 1); }


